.sidebar {
  width: 220px;
  background-color: #d4d4d4;
  /* color: black; */
  box-sizing: border-box;
  margin: 15px;
  border-radius: 8px;
  height: fit-content;
  padding: 15px;
  overflow-y: auto;
}

body.dark .sidebar {
  background-color: #404040;
  /* color: white; */
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.dropdown-item {
  position: relative;
  cursor: pointer;
}

.dropdown-item:hover .dropdown-icons {
  animation: wobble 0.6s ease infinite;
}

.dropdown-item:hover .downIcons {
  /* transform: rotate(180deg); */
  transition: transform 0.3s ease;
}

/* Wobble keyframes for the money icon */
@keyframes wobble {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Initial style to prevent sudden jump */
.dropdown-icons,
.downIcons {
  transition: all 0.3s ease;
}


.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  /* padding: 10px 8px; */
  padding: 5px;
  font-weight: bold;
  color: #000000;
  /* background-color: #929292; */
  margin-bottom: 5px;
  transition: background-color 0.3s ease;

  cursor: pointer;
  gap: 10px;

  &:hover {
    border-radius: 6px;
    background-color: #9f9f9f;
    padding: 5px;
  }


}

body.dark .dropdown-toggle {
  /* background-color: #555; */
  color: #ffffff;

  &:hover {
    border-radius: 6px;
    background-color: #626262;
    padding: 5px;
  }
}


.list-name {
  display: flex;
  align-items: center;
  /* background-color: #555; */
  font-size: 15px;
  /* gap: 50px; */

}

.dropdown-icons {
  margin-right: 9px;
  font-size: 19px;
  /* font-weight: bold; */

}

.downIcons {
  font-size: 13px;
}




.dropdown-menu {
  list-style: none;
  padding: 0px 0 0px 20px;
  font-weight: bold;
  font-size: 15px;

  margin-bottom: 3px;

}

.menuList {
  display: flex;
  align-items: center;
  /* background-color: rgb(73, 46, 13); */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  transition: all 0.3s ease;

  &:hover {
    border-radius: 6px;
    /* padding-bottom: 5px; */
    background-color: #9f9f9f;


  }
}

body.dark .menuList {
  &:hover {
    border-radius: 6px;
    background-color: #626262;
    /* padding: 5px; */
  }

}


.menu-items {
  display: block;
  color: inherit;
  /* padding-top: 8px; */
  text-decoration: none;
}

.items {
  color: inherit;
  text-decoration: none;
  /* padding: 15px; */
  font-size: 15px;
  font-weight: bold;
  /* gap: 50px; */
  /* gap: 10px; */


}

.menu-items.active {
  /* background-color: #007bff; */
  color: #31a7da;
  /* font-weight: bold; */
  /* border-radius: 4px; */
}

.list-items {
  position: relative;
  list-style: none;
  font-size: 15px;
  /* background-color: bisque; */
  /* gap: 12px; */
  /* font-family:monospace; */
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 3px;

  &:hover {
    border-radius: 6px;
    /* padding-bottom: 5px; */
    background-color: #9f9f9f;


  }
 

}

body.dark .list-items {
  &:hover {
    border-radius: 6px;
    /* padding-bottom: 5px; */
    background-color: #626262;


  }

}

.list-links {
  display: flex;
  align-items: center;
  /* margin-bottom: 5px; */
  /* gap: 10px; */
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  &.active{
    /* background-color: #007bff; blue background when active */
    color: #31a7da; /* white text when active */
    /* font-weight: bold; */
    /* border-radius: 8px; */
  }
}



.list-items:hover .dropdown-icons {
  animation: wobble 0.6s ease infinite;
}