.settings-content {
    background-color: #dddddd;
    border-radius: 8px;
    flex: 1;
    padding-left: 20px;
    height: 100%;  


}

body.dark .settings-content {
    background-color: #4e4e4e;

}