 .mainLayout{
    font-family: roboto-mono;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 60px;
}

body.dark .mainLayout{
    margin-top: 60px;
    color: #fff;
    background-color: rgb(0, 0, 0);
}
.main-container{
    /* background-color: antiquewhite; */
    margin: 0 20px 15px 25px;
flex: 1;

overflow: hidden;
}
