 .mainLayout {
     font-family: roboto-mono;
     display: flex;
     min-height: 100vh;
     margin-top: 55px;
     overflow: hidden;

 }

 body.dark .mainLayout {
     color: #fff;
     background-color: #000000;
 }

 .main-container {
     flex: 1;
     padding: 24px;
     overflow-y: auto;
     min-width: 0;
     background-color: #b4b4b4;
     margin: 15px 15px 15px 5px;
     border-radius: 8px;
 }

 body.dark .main-container {
     background-color: #404040;

 }